* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: grey;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: #a60006;
  display: flex;
  padding: 10px;
}

#title-cinelist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
