* {
  box-sizing: border-box;
}

body {
  background-color: #110019;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: #a60006;
  display: flex;
  padding: 10px;
}

#title-cinelist {
  margin: auto;
}

#movies-header {
  width: 100%;
  text-align: center;
  margin: auto;
  color: white;
}

.filteredMovies {
  width: 70%;
  height: 5%;
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  margin-top: 20px;
}

#filter-input {
  height: 20px;
  width: 200px;
}

#search-button {
  height: 20px;
  width: 100px;
}

#clear-button {
  height: 20px;
  width: 100px;
}

.movies {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-evenly;
  width: 70%;
  margin-top: 60px;
}

.movie {
  width: 150px;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 10px;
}

.movie:hover {
  background-color: rgb(87, 255, 109);
}

.movie-image {
  width: 150px;
  height: auto;
}

.movies-title {
  flex-wrap: wrap;
  font-size: xx-small;
  margin: 10px auto;
}

#myList-header {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  color: white;
}

.myList-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-evenly;
  width: 30%;
}

.myList-movie {
  width: 150px;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.myListMovie-image {
  width: 100px;
  height: auto;
  margin-top: 20px;
}

.myListMovie-header {
  flex-wrap: wrap;
  font-size: xx-small;
  margin: 10px auto;
  color: white;
}

#rating-input {
  height: 15px;
  width: 100px;
  font-size: 10px;
  background: transparent;
  border: none;
  color: white;
}

#rating-submit {
  height: auto;
  width: 100px;
  font-size: 10px;
}

#comments-input {
  height: 15px;
  width: 100px;
  font-size: 10px;
  background: transparent;
  border: none;
  color: white;
}

#comments-submit {
  height: auto;
  width: 100px;
  font-size: 10px;
}

#title-cinelist {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D4AF37;
  padding-left: 20px;
}

.display {
  display: flex;
  width: 100vw;
  height: 90vh;
}

.footer {
  width: 100vw;
  height: 5vh;
  position: relative;
  bottom: 0px;
  background-color: #a60006;
}

.credits {
  font-size: xx-small;
}
